<p><strong>Team Name:</strong> <%= team.name %></p>
<p><strong>Coach:</strong> <%= team.coach_name %></p>
<p id="team-<%= team.id %>-players"></p>

<button class="js-more" data-id="<%= team.id %>">Show Players</button>
<br></br>
